
body {
	counter-reset: image-sequence image-caption-sequence;
}
.image:not(.decorative) {
	counter-increment: image-sequence;
}
.image figcaption:before {
	content: "[" counter( image-sequence ) "]";
	padding-right: 1ch;
}
.image figcaption {
	position: relative;
}


.image-caption {
	position: relative;
	counter-increment: image-caption-sequence;
}
.image-caption > p:before {
	content: "[" counter( image-caption-sequence ) "]";
	padding-right: 1ch;
}
