
@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/400-normal.otf" ) format( "opentype" );
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/400-italic.otf" ) format( "opentype" );
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/500-normal.otf" ) format( "opentype" );
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/500-italic.otf" ) format( "opentype" );
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/700-normal.otf" ) format( "opentype" );
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/700-italic.otf" ) format( "opentype" );
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/900-normal.otf" ) format( "opentype" );
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HB Goblet A";
	src: url( "/fonts/hb-goblet-a-v0.5/900-italic.otf" ) format( "opentype" );
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

.hover-transition-one,
.hover-transition-two,
.hover-transition-three,
.hover-transition-four {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 200%;
  mask-size: 200%;
  transition: mask-size 100ms ease-in-out, -webkit-mask-size 100ms ease-in-out;
  display: block;

}

.hover-transition-one:hover,
.hover-transition-two:hover,
.hover-transition-three:hover,
.hover-transition-four:hover {
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

/* Individual mask images */
.hover-transition-one {
  -webkit-mask-image: url('https://i.postimg.cc/s2VBMNgc/effect-one.png');
  mask-image: url('https://i.postimg.cc/s2VBMNgc/effect-one.png');
}
.hover-transition-two {
  -webkit-mask-image: url('https://i.postimg.cc/ydghDQVk/hover-three.png');
  mask-image: url('https://i.postimg.cc/ydghDQVk/hover-three.png');
}
.hover-transition-three {
  -webkit-mask-image: url('https://i.postimg.cc/9Fv4Lmtg/hover-two.png');
  mask-image: url('https://i.postimg.cc/9Fv4Lmtg/hover-two.png');
}
.hover-transition-four {
  -webkit-mask-image: url('https://i.postimg.cc/1tkGwGtM/hover-four.png');
  mask-image: url('https://i.postimg.cc/1tkGwGtM/hover-four.png');
}


@tailwind base;
@tailwind components;
@tailwind utilities;
